<div id="footer">
  <div id="about" class="footer-item">
    <h1>Vanguard Finance</h1>
    <br />
    Vanguard Finance is a fake application built by Eric Lacker and Conner
    Pierce for the 'Mastering Angular' Training Course
  </div>
  <div id="products" class="footer-item">
    <h1>Products</h1>
    <br />
    Product 1
    <br />
    Product 2
    <br />
    Product 3
    <br />
  </div>
  <div id="links" class="footer-item">
    <h1>Links</h1>
    <br />
    Link 1
    <br />
    Link 2
    <br />
    Link 3
    <br />
  </div>
  <div id="contact" class="footer-item">
    <h1>Contact</h1>
    <br />
    Contact Eric Lacker or Conner Pierce for any questions.
  </div>
</div>
