h1 {
  font-size: 15px;
}
.footer-item {
  width: 15%;
}
#footer {
  background-color: rgb(145, 0, 0);
  color: white;
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#about {
}
