<div class="container" id="home">
    <div id="centercontent">
        <div id="banner-text">
            <h1>Personal Loans up to $35,000</h1><br/>
            No origination fees | No pre-payment fees | No late fees
        </div>
        <div id="center-box">
            <div>
                <p>Fixed Rates with Auto Pay</p><br/>
                <h2>5.99% APR - 19.96% APR</h2><br/>
                <p>Checking your rate will not affect your credit score.</p>
            </div>
            <mat-divider [vertical]="true" [inset]="true" class="divider"></mat-divider>
            <div id="check-rate">
                <a mat-raised-button routerLink="/loans">Get my loan today!</a>
            </div>
        </div>
    </div>
</div>
